@model IEnumerable<IGrouping<Movie, Screening>>

@{
    ViewData["Title"] = "Cinema Program";
}

<h1>Program</h1>

<div class="mt-3 mb-3 text-secondary">
    @ViewBag.Message
</div>

@foreach (var group in Model)
{
    <br/>
    <h3 class="text-success">@group.Key.Title</h3>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => group.Key.Content)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(modelItem => group.Key.Description)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => group.Key.Duration)
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-3">
                @Html.DisplayFor(modelItem => group.Key.Content)
            </td>
            <td class="col-8">
                @Html.DisplayFor(modelItem => group.Key.Description)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => group.Key.Duration) minutes
            </td>
        </tr>
        </tbody>
    </table>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => group.First().ScreeningRoom)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => group.First().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => group.First().RemainingNoOfSeats)
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in group)
        {
            <tr>
                <td class="col-4">
                    @Html.DisplayFor(modelItem => item.ScreeningRoom.Name)
                </td>
                <td class="col-4">
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td class="col-3">
                    @Html.DisplayFor(modelItem => item.RemainingNoOfSeats)
                </td>
                @if (item.RemainingNoOfSeats > 0)
                {
                    <td class="col-1">
                        <a asp-action="Create" asp-controller="Reservations" asp-route-id="@item.Id">Book Tickets</a>
                    </td>
                }
                else
                {
                    <td class="col-1">
                        <p class="text-danger">Sold Out</p>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
    <br/>
}

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
