@model IEnumerable<cinema_web_app.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoOfBookedSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortReferenceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfBookedSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortReferenceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screening.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;
                <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
