@model IEnumerable<cinema_web_app.Models.Screening>

@{
    ViewData["Title"] = "Screenings";
}

<h1>Screenings</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                Start Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Duration)
            </th>
            <th>
                Screening Room
            </th>
            <th>
                Remaining No Of Seats
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @item.StartTime.ToString("yyyy-MM-dd HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Duration) minutes
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreeningRoom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingNoOfSeats)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
