@model cinema_web_app.Models.UserViewModel

<h1>User Details</h1>

<div>
    <h2>@Model.Email</h2>
    <dl class="row">
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>
        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
        @if (Model.Roles.FirstOrDefault() == "ContentCinemaAdmin")
        {
        <dt class="col-sm-3">Cinemas</dt>
            @if (Model.CinemaNames.Count == 0)
            {
                <dd class="col-sm-9">
                    No cinemas assigned
                </dd>
            } else
            {
                <dd class="col-sm-9">

                @foreach (var cinema in Model.CinemaNames)
                {
                    @cinema<br/>
                }
                </dd>
            }
        }
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-warning">Edit</a>
    <a asp-action="UsersByRole" asp-route-role="@Model.Roles.FirstOrDefault()" class="btn btn-secondary">Back to List</a>
</div>
