@model IEnumerable<cinema_web_app.Models.Announcement>

@{
    ViewData["Title"] = "Announcements";
    var orderedAnnouncements = Model.OrderByDescending(a => a.PublicationDate);
}

<h1>Announcements</h1>
<br/>

<div class="container">
    @foreach (var item in orderedAnnouncements)
    {
    <div class="card mb-4">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text"><strong>Cinema:</strong> @item.Cinema.Name</p> <!-- Cinema Name -->
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Message)</p>
                    <p class="card-text"><small class="text-muted">Published on: @Html.DisplayFor(modelItem => item.PublicationDate)</small></p>
                    <p class="card-text"><small class="text-muted">By: @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</small></p>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 0;
        margin-bottom: 1rem;
        display: flex;
    }

    .card-body {
        padding: 20px;
        flex: 1;
        text-align: left;
    }

    .card:hover {
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .card .btn {
        margin-right: 5px;
    }
</style>